.vs
.idea
.vscode
.DS_store
Bin
Build
Debug/
Release/
imgui.ini

*.pdb
*.ilk
*.lib
*.exp
libs/*.dll
save.neon
node_modules

.lite_workspace.lua
*.code-workspace

/neon86.ncb
*.dsp
*.mak
*.plg
*.user
*.dsw
*.opt
*.suo
*.blend1
LAUNCHER.lnk
docs/~$on86_cheatsheet.docx
data/LinesNetworking.dll
data/SlayerNative.dll
